<body>
  <div class="main">
    <div class="inner-header flex">
      <!-- Πάνω τμήμα -->

      <h2>Επιλογή τοποθεσίας βλάβης με βάση</h2>
      <div class="container">
        <a href="/school" class="button1 button"><i class="fa-solid fa-book"><span class="text text2">το όνομα του
              τμήματος</span></i></a>
        <a href="#" class="button2 button"><i class="fa-solid fa-building-columns"><span class="text text2">&nbsp;το
              όνομα του κτιρίου</span></i></a>
        <a href="/map" class="button3 button"><i class="fa-solid fa-location-dot"><span class="text text2">την τοποθεσία
              στον χάρτη</span></i></a>
      </div>
    </div>
  </div>

</body>