<body>


    <div class="main">

        <form id="signin" class="sign" action="/login/user" method="POST">
            <div class="header signin_header">Sign in</div>
            <div id="error-msg">
                {{#if loginError}}
                <li>{{loginError.message}}</li>
                {{/if}}
            </div>
            <input name='email' id="email" type="text" class="input" placeholder="Email" required>
            <br>
            <input name='password' type="password" id="password" class="input" placeholder="Password" required>
            <br>
            <input type="checkBox" class="checkBox"><span class="check">Remember Password</span>
            <br>

            <button type="submit" class="submitButton" value='Login'>Log in</button>
            <br>
            <label class="footer">
                Δεν έχεις λογαριασμό; <button class="btn sundesh">Δημιουργία</button>
            </label>
            
        </form>

        <form id="signup" class="sign" action="/login/register" method="POST"
            enctype="application/x-www-form-urlencoded">
            <div class="header signup_header">Sign up</div>
            <div id="error-msg">
                {{#if registerError}}
                <li>{{registerError.message}}</li>
                {{/if}}
            </div>
            <input name='username' type="text" id="username" class="input" placeholder="Username" required>
            <br>
            <input name='email' type="email" id="email" class="input" placeholder="Email" required>
            <br>
            <input name='password' type="password" id="password" class="input" placeholder="Password" required>
            <br>
            <input name='passwordConf' type="password" id="passConf" class="input" placeholder="Confirm Password"
                required>

            <input type="checkbox" class="checkBox" required><span class="check">I agree to the terms &
                conditions</span>
            <br>
            <button type="submit" class="submitButton" value="Register">Register</button>
            <br>
            <label class="footer">
                Έχεις ήδη λογαριασμό; <button class="btn dhmiourgia">Συνδεση</button>
            </label>
        </form>
    </div>


</body>