<body>
  <div class="main">
    <div class="header">
      <h3>Επιλογή τοποθεσίας βλάβης</h3>  
    </div>
    <div id="map"></div>

    <div class="footer">
        <button class="buttons" id="gps">Η θέση μου</button>
      
        <form class="form" action="/map/sendCoords" method="post">
          <input name="textInput" id="textInput" type="text">
          <button class="buttons" id="select">Επιλογή τοποθεσίας</button>
        </form>
    </div>
      </div>
  </body>