
<body>
    <div class="main">
        <header class="header">
            <div class="nav-container">

                <nav class="nav">
                    <ul class="nav_ul">
                        <li class="nav_link"><a href="#">Ανθρωπιστικών και Κοινωνικών Επιστημών</a></li>
                        <li class="nav_link"><a href="#">Γεωπονικών Επιστημών</a></li>
                        <li class="nav_link"><a href="#">Επιστημών Αποκατάστασης Υγείας</a></li>
                        <li class="nav_link"><a href="#">Επιστημών Υγείας</a></li>
                        <li class="nav_link"><a href="#">Θετικών Επιστημών</a></li>
                        <li class="nav_link"><a href="#">Οικονομικών Επιστημών και Διοίκησης Επιχειρήσεων</a></li>
                        <li class="nav_link"><a href="#">Πολυτεχνική Σχολή</a></li>
                    </ul>
                </nav>
                <i class="fa-solid fa-bars"></i>

            </div>
        </header>

        <div class="image-container">

        </div>
        <form id="hiddenForm" action="/school/submit/" method="POST" style="display: none;">
            <input type="hidden" id="selectedDepartment" name="selectedDepartment">
        </form>

        
    </div>


</body>

