html {
  font-family: sans-serif;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-image: url(../img/image4.jpg);
  overflow: hidden;
}


.inner-header {
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
  width: 30em;
  height: 52em;
  margin: 5em auto;
  border-radius: 5em;
  text-align: center;

}
.form{
  margin-top: 0;
  margin-left:6em;
  margin-right: 6em;
}



.field_file {
  font-family: sans-serif;
  margin-top: 1.7em;
  margin-left:0;
  width: 92%;
  border: 1px solid black;
  border-radius: 1em;
  font-weight: 600;
}



#damaged_building,
#class_name,
#damage_type {
  font-size: 0.9em;
  font-family: sans-serif;
  height: 2.5em;
  width: 75%;
  margin-top: 1.7em;
  border-style: solid;
  border: 1px solid black;
  border-radius: 0.7em;
  font-weight: 600;
}

textarea {
  font-family: sans-serif;
  overflow: hidden;
  resize: none;
  width: 100%;
  border: 1px solid black;
  border-radius: 1em;
  font-weight: 600;
  font-size: 0.9em;
}

.additional_info {
  margin-top: 1.7em;
}

::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: rgb(0, 0, 0);
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgb(0, 0, 0);
  text-align: center;
}

:-ms-input-placeholder {
  color: rgb(0, 0, 0);
  text-align: center;
}

#damage_severity {
  margin-top: 0;
  text-align: center;
  width: 100%;
  height: 2em;
  font-family: sans-serif;

}

select option {
  text-align: center;
}


#severity {
  background-color: white;
  border-style: solid;
  border: 1px solid black;
  width: 90%;
  height: 3em;
  border-radius: 0.7em;
  text-align: center;
  margin-top: 1.7em;
  font-weight: 600;
  font-family: sans-serif;
}

#damaged_building {
  margin-top: 0;
}

#submitButton {
  font-family: sans-serif;
  background-color: #fffffff8;
  color: rgb(0, 0, 0);
  height: 2.5em;
  margin: 1.2em 0;
  border: none;
  cursor: pointer;
  width: 10em;
  font-size: 1em;
  font-weight: 600;
  border-radius: 0.7em;
  border: 1px solid black;
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.8;
  transform: scale(1.1);
}



@media (max-height: 768px) {
  body {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255));
  }

  h2 {
    margin-top: 5em;
    font-size: 1.2em;
  }

  .main {
    width: 100%;
    height: 100%;
    margin: 2em auto;
    text-align: center;
    box-shadow: none;
  }
  .form{
    margin-top: 0;
    margin-left:10em;
    margin-right: 10em;
  }
  body {
    overflow: visible;
  }


}


@media (max-width: 768px) {
  body {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255));
  }

  h2 {
    margin-top: 5em;
    font-size: 1.2em;
  }

  .main {
    width: 100%;
    height: 100%;
    margin: 2em auto;
    text-align: center;
    box-shadow: none;
  }
  .form{
    margin-top: 0;
    margin-left:3em;
    margin-right: 3em;
  }
  body {
    overflow: visible;
  }


}